.Team {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.Team .section-title {
  margin-top: 3rem;
}

.Team .card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Team .card {
  width: 18rem;
  margin-bottom: 1rem;
}

.Team .card-title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.Team .card-text {
  font-weight: bold;
  color: rgb(110, 94, 254);
}
