.Universities .carousel-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f6f6f6;
}

.Universities .carousel {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, 11rem);
  justify-content: center;
  text-align: center;
  /* animation: slide linear infinite; */
  /* overflow: hidden; */
}

/* @keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
} */

.Universities .uni-helper {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.Universities .uni-logo {
  max-height: 10rem;
  max-width: 10rem;
}
