.Stats {
  padding-top: 0.5rem;
  padding-bottom: 3rem;
}

.stats-container {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.stats-tile {
  width: 15rem;
  height: 10rem;
  margin: 0.5rem;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 10rem;
  border-radius: 1.5rem;
  background: linear-gradient(
    45deg,
    rgb(110, 94, 254) 0%,
    rgba(73, 63, 252, 100%)
  );
}
