.subjects-container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.subject {
  margin: 0.5rem;
}

.subject .badge:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(110, 94, 254);
}
