.subjects-container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.subject {
  margin: 0.5rem;
}

.subject .badge:hover {
  color: white;
  background-color: rgb(110, 94, 254);
}
